<head>
    <%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
</head>

<div class="container">
  <div class="main">
  <h1 class="title">Histórico 2º Turno</h1>
    <%= form_with(scope: "resultado") do |f| %>
      <div class="field">
        <%= f.label :tipo %><br />
        <%= f.select :tipo, %w(Presidente Governador), {include_blank: false } %>
        
        <%= f.label :localidade %><br />
        <%= f.select :localidade, @localidades.collect { |p| [ p.nome, p.sigla ] }, {include_blank: false, selected: @localidades[6].sigla } %>
        
        <%= f.label :horario, "Horario" %><br />
        <%= f.select :horario, Resultado.all.collect { |p| [ p.cdabr, p._id ] },{ include_blank: false }  %>
      
        </div>
    <% end %>
  <div id="resultados"></div>
  </div>
</div>





<script name="filterGorarioSelect" type="text/javascript">     


var resultados = new Array();
<% for resultado in @resultados -%>
    resultados.push(new Array('<%= resultado['cdabr'] %>', '<%=h resultado['datetime'] %>', '<%= resultado['_id'] %>', '<%= resultado['ele'] %>'));
<% end -%>
function localidadeSelected() {
  localidade = $('#resultado_localidade').val();
  tipo = $('#resultado_tipo').val() == "Presidente" ? "545" : "547"
  options = $("select#resultado_horario option").map(function() {return $(this).val();}).get();
  options.length = 1;
  resultados.forEach(function(resultado) {
    if (resultado[0].toLowerCase() == localidade.toLowerCase() && resultado[3] == tipo) {
      options[options.length] = new Option(resultado[1], resultado[2]);
    }
  });
  $("#resultado_horario").replaceOptions(options);
  
}

(function($, window) {
  $.fn.replaceOptions = function(options) {
    var self, $option;

    this.empty();
    self = this;

    $.each(options, function(index, option) {
      $option = $("<option></option>")
        .attr("value", option.value)
        .text(option.text);
      self.append($option);
    });
  };
  
})(jQuery, window);

  $('#resultado_localidade').on('change', function () {
    localidadeSelected()
    $("#resultados").empty();
  });
  $('#resultado_localidade').ready( localidadeSelected);
  $('#resultado_tipo').on('change', function() {
    options = $("select#resultado_horario option").map(function() {return $(this).val();}).get();
  options.length = 1;
  $("#resultado_horario").replaceOptions(options);
    $("#resultados").empty();

  });
 
</script>







<script name="renderTable" type="text/javascript">

 $('#resultado_horario').ready( renderApuracao);
  $(document).on("change", '#resultado_horario', renderApuracao);

  function renderApuracao(){
        var selectValue = $(this).val();
    
        $.ajax({
          url: "api/resultado/" + selectValue,
          type: "get",
          success: function(data) { 
            $("#resultados").empty();
            $("#resultados").append(data.html); 
          }
        })
     }


</script>