<div id="tabela">
    <h5 id="apurados">Porcentagem apurada: <%= resultado['pst'] %>% </h5>
    <h6 id="horario">Ultima atualização: <%= resultado['datetime'] %></h6>

    <table class='table'>
        <thead>
            <td>#</td>
            <td>Nome</td>
            <td>Votos</td>
            <td>Porcentagem</td>
        </thead>
        <tbody>
            <% resultado['cand'].each do |candidato| %>
                <tr>
                <td><%= candidato['seq'] %></td>
                <td><%= candidato['nm'] %></td>
                <td><%= candidato['vap'].to_i  %></td>
                <td><%= candidato['pvap'] %>% </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
