<!DOCTYPE html>
<html>
  <head>
    <title>EleicaoRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'important_entry_if_existed'%>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
